@media screen and (min-width: 601px) {
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }
}

html,
body {
    font-family: Helvetica;
    background-color: black;
    margin: auto;
    max-width: 660px;
    min-width: 320px;
}

input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90%;
    min-width: 315px;
    margin: auto;
    padding: 1px;
    display: block;
    text-align: center;
    text-align-last: center;
    background-color: aliceblue;
}

Label,
a {
    font-size: 20px;
    color: darkblue;
    margin: auto;
    padding: 1px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button {
    background-color: rgb(0, 0, 155);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    width: 150px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
}



.header {
    background-image: url("ocean.jpg");
    background-size: 100% 100%;
    color: black;
    font-size: 32px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}

#map {
    width: 100%;
    text-align: center;
    height: 150px;
    color: black;
    font-size: 32px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}

.header-left {
    margin: auto;
    padding: 20px 10px;
    display: block;
    float: right;
}

.header-right {
    margin: auto;
    padding: 10px;
    display: inline-block;
}

.header-mid {
    margin: auto;
    padding: 10px;
    display: inline-flex;
}

#CurrentLocation {
    margin: auto;
    padding: 10px;
    display: inline;
    font-size: 32px;
}

#CurrentTideTime {
    font-size: 32px;
}

#CurrentTideValue {
    font-size: 64px;
}

#CurrentTideUnits {
    font-size: 32px;
}

.SettingsContainer {
    margin: auto;
    display: none;
}

.SettingsContainer input,
.SettingsContainer select {
    color: darkblue;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    min-width: 150px;
}

.ScanWireless {
    margin: auto;
}

.CheckForFirmware {
    background-color: skyblue;
    display: block;
    height: 32px;
    border-radius: 10px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.Readings {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
}

.Sensor,
.WiFi,
.Radio {
    border: 1px solid rgb(45, 45, 45);
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 10px 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: auto;
    display: block;
    text-align: center;
}

#ImportFirmware {
    display: none;
}

.Update {
    border: 1px solid rgb(45, 45, 45);
    background-color: lightsteelblue;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    display: block;
    text-align: center;
}

.AvailableFW {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;
    background-color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    width: 90%;
    min-width: 315px;
    margin: auto;
    padding: 12px;
    display: none;
    text-align: center;
    text-align-last: center;
}

.fw-file {
    height: 64px;
}

#UpProg {
    display: none;
}

#fwUpdateStatus {
    margin: auto;
    width: 90%;
    background-color: grey;
    position: relative;
}

#fwUpdateText {
    width: 0%;
    height: 48px;
    background-color: cornflowerblue;
    position: relative;
}

.TideTable {
    border: 1px solid rgb(45, 45, 45);
    background-color: lightsteelblue;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    display: Block;
}

.TideReading {
    border: 1px solid rgb(45, 45, 45);
    background-color: whitesmoke;
    margin: auto;
    display: inline-block;
    width: 100%;
}

#TideReadingData {
    border: 1px solid rgb(45, 45, 45);
    background-color: whitesmoke;
    padding: 2px;
    margin: auto;
    display: inline-block;
    width: 23%;
}

.Setting {
    border: 1px solid rgb(45, 45, 45);
    margin: auto;
    padding: 2px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.TideChart {
    margin: 0;
    height: 80%;
}

.SaveButton {
    border: 1px solid rgb(45, 45, 45);
    text-align: center;
    background-color: aliceblue;
    display: inline-block;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.ResetButton {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;
    text-align: center;
    background-color: lightsteelblue;
    display: block;
    margin: auto;
}

#SaveSettings {
    background-color: deepskyblue;
    border: 1px solid rgb(45, 45, 45);
    color: green;
    display: inline;
    margin: auto;
}

#CancelSettings {
    background-color: deepskyblue;
    border: 1px solid rgb(45, 45, 45);
    color: Red;
    display: inline;
    margin: auto;
}

.canvas {
    background-color: white;
    position: relative;
}

.button,
.WiFiLogo {
    background-color: rgb(0, 0, 155);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;
    display: block;
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    width: 150px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
}

#dth {
    width: 90vw;
    margin-bottom: 10px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 25px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: gray;
    border-radius: 10px;
    margin: auto;
    padding: 0;
    border: 1px solid white;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 600px;
    overflow: auto;
    text-align: center;
}

.Close,
.RefreshNetworks {
    color: white;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.ScanNetworkModal {
    max-width: 300px;
    min-width: 240px;
}

.modal-header {
    padding: 2px;
    background-color: silver;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.modal-body {
    padding: 2px 2px;
}

.CreatedNetworkElement {
    padding: 5px;
    margin: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: lightskyblue;
    border-radius: 10px;
    color: Black;
}

.UpdateSource {
    border: black;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: auto;
    margin: auto;
    padding: 10px;
}

.UpdateButton,
.UpdateFileButton {
    background-color: rgb(0, 0, 155);
    border: 1px solid black;
    border-radius: 10px;
    border: black;
    color: white;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin: auto;
    padding: 10px;
}

.PasswordForm {
    height: 0%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.PasswordForm-content {
    position: relative;
    margin: auto;
    max-width: 500px;
}

.PasswordForm input {
    background-color: lightblue;
    font-size: 32px;
    color: darkgray;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
}

#Submit {
    background-color: darkblue;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.ClosePassword {
    color: lightcoral;
    position: absolute;
    top: 5px;
    right: 5%;
    font-size: 60px;
}

#ResetTideGauge {
    width: 100%;
    background-color: cornflowerblue;
}