@media screen and (min-width: 501px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html,
body {
  font-family: Helvetica;
  background-color: black;
  margin: auto;
  max-width: 660px;
  min-width: 320px;
}


.Readings,
.map {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  min-width: 360px;
  width: 100%;
}

.map {
  height: 125px;
}

.header {
  background-image: url("ocean.jpg");
  background-size: 100% 100%;
  color: darkblue;
  font-size: 32px;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  min-width: 360px;
  padding: 10px;
  font-weight: bold;
  width: 100%;

}

.header-left {
  margin: auto;
  padding: 10px;
  display: inline-flex;
}

.header-right {
  margin: auto;
  padding: 20px 10px;
  display: block;
  float: right;
}

#CurrentLocation {
  margin: auto;
  padding: 10px;
  display: inline;
  font-size: 32px;
  text-align: center;
}


#CurrentTideTime {
  font-size: 32px;
}

#CurrentTideValue {
  font-size: 64px;
}

#TideChart {
  border: 1px solid rgb(45, 45, 45);
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  width: 100%;
}

.TideTable {
  border: 1px solid rgb(45, 45, 45);
  background-color: black;
  border-radius: 10px;
  padding: 0px, 10px;
  margin: auto;
  display: none;
  width: 100%;
}

.TideReading {
  border: 1px solid rgb(45, 45, 45);
  background-color: whitesmoke;
  margin: auto;
  display: inline-block;
  width: 100%;
}

#TideReadingData {
  border: 1px solid rgb(45, 45, 45);
  background-color: whitesmoke;
  padding: 2px;
  margin: auto;
  display: inline-block;
  width: 33%;
}


